<!-----Contact List Page----->
<!----127.0.0.100:8000/Contact/list---->

{% extends "contact/base.html" %}

{% block content %}


<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Domain</td>
            <td>Notes</td>
            <td>
                <a href="{% url 'contact_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
            
        </tr>
    </thead>
    <tbody>
        {% for contact in contact_list %}
            <tr>
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.domain}}</td>
                <td>{{contact.notes}}</td>
                <td>
                    <a href="{% url 'contact_update' contact.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'contact_delete' contact.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button onclick="return confirm('Are you Sure?')" type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}